.publications-categorized {
  #sidebar {
    top: 20px;
    padding-right: 15px;
    border-right: 1px solid #eee;
    position: sticky;
    
    .nav-link {
      padding: 5px 0;
      color: #666;
      &.active {
        color: var(--global-theme-color);
        font-weight: 500;
      }
    }
  }
  
  .bibliography {
    margin-bottom: 3rem;
    
    h2 {
      margin-top: 2rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #eee;
    }
  }
}
